#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-clr);
    z-index: 1000;
}

.preloader {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

#preloader.hide {
    display: none;
}


#hero {
    background-image: url(./assets/images/main-bcg.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

#hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

#hero .hero  {
    height: 100vh;
    display: flex;
    align-items: center;
}

#hero .hero__text h2 {
    font-weight: 400;
    padding-bottom: 30px;
}

#hero .hero__btn {
    border: 1px solid var(--white-clr);
    padding: 10px 12px;
    transition: 0.3s ease;
}

#hero .hero__btn:hover {
    color: var(--primary-clr);
    background-color: var(--white-clr);
}

/* Animation hero section*/
#hero .hero__text h1 {
    user-select: none;
    padding-right: 10px;
    overflow-y: hidden;
}

#hero .hero__text h1 .reveal {
    position: relative;
    bottom: -120px;
    animation: reveal 1.2s ease-in-out forwards;
    opacity: 0;
}

#hero .hero__text h2 ,
#hero .hero__text a {
    opacity: 0;
    animation: fade 1s ease-out forwards;
    animation-delay: 1.5s;
}

@keyframes reveal {
    from {
        bottom: -120px;
        opacity: 0;
    }
    to {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    position: relative;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 9.6rem;
    z-index: 100;
    background-color: transparent;
}

#header .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    position: relative;
}

#header .header .hamburger {
    display: none;
    padding: 5px 15px;
    min-width: 50px;
    background-color: var(--primary-clr);
    font-size: 2rem;
    border: none;
    border-radius: 16px;
    transition: 0.3s ease;
    cursor: pointer;
}

#header .header .hamburger:hover {
    background-color: var(--dark-primary-clr);
}

.sidebar-overlay, .cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    transition: 0.4s ease;
    opacity: 0;
    visibility: hidden;
}

.sidebar-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-overlay.show, .cart-overlay.show {
    visibility: unset;
    opacity: 1;
}

.sidebar-overlay .sidebar {
    width: 90%;
    height: 95%;
    background-color: var(--white-clr);
    padding: 50px;
    position: relative;
}

.sidebar-overlay .close-btn {
    position: absolute;
    top: 16px;
    right: 15px;
    font-size: 2.8rem;
}

.sidebar-overlay .sidebar__item {
    padding: 8px 0;
}

.sidebar-overlay .sidebar__link {
    font-size: 2rem;
    filter: brightness(0.8);
    letter-spacing: 0.15rem;
}

.sidebar-overlay .sidebar__link i {
    /* padding-right: 12px; */
    min-width: 50px;
    text-align: center;
}

.cart-overlay .cart {
    background-color: var(--white-clr);
    height: 100%;
    width: 380px;
    float: right;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 50px 0;
    transform: translateX(100%);
    transition: 0.5s ease;
}

.cart-overlay.show .cart {
    transform: translateX(0);
}

.cart-overlay .cart__image--empty {
    width: 70%;
    padding-top: 50px;
    margin: 0 auto;
}


body::-webkit-scrollbar{
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: rgba(108,117,125, 0.5)
}

/* body::-webkit-scrollbar-track {
    background-color: var(--light-clr);
} */

/* .cart-overlay .cart::-webkit-scrollbar {
    width: 5px;
}

.cart-overlay .cart::-webkit-scrollbar-thumb {
    background-color: rgba(108,117,125, 0.3)
}

.cart-overlay .cart::-webkit-scrollbar-track {
    background-color: var(--light-clr);
} */


.cart-overlay .cart .close-btn {
    font-size: 2.8rem;
    position: absolute;
    top: 18px;
    left: 16px;
}

.cart-overlay .cart__header h1 {
    font-size: 2rem;
    font-weight: 500;
}

.cart-overlay .cart__body {
    flex: 1;
}

.cart-overlay .cart__list {
    padding: 15px;
    width: 100%;
}

.cart-overlay .cart__list .item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.cart-overlay .cart__list .item__img {
    width: 75px;
    height: 50px;
}

.cart-overlay .cart__list .item__body {
    flex: 1;
    padding: 0 20px;
}

.cart-overlay .cart__list .item__name {
    font-weight: 400;
    letter-spacing: 0.1rem;
    font-size: 1.4rem;
}

.cart-overlay .cart__list .item__price {
    font-weight: 400;
    font-size: 1.1rem;
    padding: 5px 0;
}

.cart-overlay .cart__list .item button {
    font-size: 1.2rem;
}

.cart-overlay .cart__list .item__quantity span {
    color: var(--primary-clr);
    font-size: 1.6rem;
    cursor: pointer;
}

.cart-overlay .cart__list .item__quantity h5 {
    font-weight: 400;
    font-size: 1.4rem;
}


.cart-overlay .cart__footer h1 {
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 24px;
}

.cart-overlay .cart__footer button {
    min-width: 250px;
    padding: 7px 20px 5px;
    font-size: 1.4rem;
}




#header .header .brand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#header .header .navbar__item {
    display: inline-block;
    padding: 12px 40px 12px 0;
}

#header .header .navbar__link {
    font-size: 1.8rem;
    letter-spacing: 0.15rem;
    transition: 0.3s ease;
}

#header .header .navbar__link:hover {
    color: var(--primary-clr);
}

#header .header .cart-btn {
    font-size: 2.5rem;
    position: relative;
}

#header .header .cart__badge {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.4rem;
    padding-top: 2px;
    padding-left: 2px;
    background-color: var(--primary-clr);
    border-radius: 100%;
    transform: translate(50%, -50%);
    cursor: default;
    visibility: hidden;
}

#featured .featured {
    background-color: var(--white-clr);
}

#featured .featured .list {
    margin-bottom: 20px;
}

.list
 {
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    padding: 10px 20px;
}

.list .card {
    display: block;
    width: 32.5%;
}

.list .card__img {
    height: 200px;
    position: relative;
}

.list .card__btns {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
}

.list .card__btns a, .list .card__btns button {
    border-radius: 100%;
    padding: 0;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px;
}

.list .card__img:hover  .card__btns {
    visibility: unset;
    opacity: 1;
}

.list .card__btns a:hover,
.card__btns button:hover {
    color: var(--light-clr);
}

.list .card__title {
    font-weight: 400;
    letter-spacing: 0.15rem;
    padding: 10px 0 2px;
}
.list .card__subtitle {
    letter-spacing: 0.15rem;
    font-size: 1.45rem;
}

/* Products page */
.space {
    height: 9.6rem;
    background-color: var(--white-clr);
}

#breadcrumb {
    background-color: var(--light-clr);
}

#breadcrumb .breadcrumb__item {
    display: inline-block;
}

#breadcrumb .breadcrumb__link, .breadcrumb__list span {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--gray-clr);
    letter-spacing: 0.15rem;
}

#wrapper  {
    background-color: var(--white-clr);
}

#wrapper .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

#wrapper .wrapper-left {
    width: 20%;
    position: relative;
}

#wrapper .wrapper-left .category {
    position: sticky;
    padding: 16px 0;
    top: 0;
    left: 0;
    letter-spacing: 0.1rem;
}

#wrapper .wrapper-left .category .search-bar {
    padding-bottom: 20px;
}


#wrapper .wrapper-left .category .search-bar input {
    padding: 10px 12px;
    border: none;
    background-color: var(--light-clr);
    color: var(--gray-clr);
    font-size: 1.2rem;
}



#wrapper .wrapper-left .category .filter h5 {
    font-size: 1.6rem;
    font-weight: 500;
}

#wrapper .wrapper-left .category .filter .company-list {
    padding: 4px 0 16px;
}

#wrapper .wrapper-left .category .filter .company-name {
    display: block;
    font-size: 1.2rem;
    padding: 6px;
    cursor: pointer;
    width: 60%;
}

#wrapper .wrapper-left .category .filter .company-name.active {
    background-color: var(--light-clr);
    border-radius: 5px;
}

#wrapper .wrapper-left .category .filter-bar h5 {
    font-weight: 500;
    font-size: 1.5rem;
}

#wrapper .wrapper-left .category .filter-bar input {
    padding: 6px 0;
}

#wrapper .wrapper-left .category .filter-bar__value {
    font-weight: 400;
}

#wrapper .wrapper-right {
    width: 80%;
}

#wrapper .wrapper-right .list {
    justify-content: flex-start;
    width: 100%;
    padding: 16px 20px;
}

#wrapper .wrapper-right .list .card{
    margin-bottom: 16px;
    width: 33%;
    padding: 0 8px;
}

#wrapper .wrapper-right .list .card__img {
    height: 166px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

#wrapper .wrapper-right .list .card__title {
    font-size: 1.4rem;
}

#wrapper .wrapper-right .list .card__subtitle {
    font-size: 1.2rem;
}

/* About page */

#main .main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main .main__text {
    padding-top: 8px;
    width: 90%;
    max-width: 720px;
    letter-spacing: 0.05rem;
    line-height: 2;
    transform: translateX(20px);
}

/* Single page*/
#detail .detail {
    display: flex;
}

#detail .detail__img {
    width: 48%;
    max-height: 360px;
}

#detail .detail__body {
    width: 50%;
    padding: 0 30px;
}

#detail .detail__name {
    font-weight: 400;
    letter-spacing: 0.1rem;
    padding-bottom: 8px;
}

#detail .detail__company {
    font-size: 2rem;
    color: #BECEDD;
    font-weight: 500;
    padding-bottom: 20px;
}

#detail .detail__price {
    font-size: 1.8rem;
    font-weight: 500;
    padding-bottom: 20px;
}

#detail .detail__colors {
    display: flex;
    padding-bottom: 20px;
}

#detail .detail__colors .circle {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    margin-right: 6px;
}

#detail .detail__colors .circle-orange {
    background-color: orangered;
}

#detail .detail__colors .circle-black {
    background-color: var(--black-clr);
}

#detail .detail__desc {
    width: 80%;
    line-height: 2;
    font-weight: 0.05rem;
    font-weight: 400;
    padding-bottom: 20px;

}

@media screen and (max-width: 1100px) {
    #featured .featured .list .card {
        width: 48%;
        margin-bottom: 20px;
    }

    #wrapper .wrapper-right .list .card {
        width: 50%;
    }
}

@media screen and (max-width: 992px) {
    #header .header .brand {
        transform: translateY(-50%);
    }

    #hero .hero__text h1 {
        font-size: 6.4rem;
    }

    #hero .hero__text h2 {
        font-size: 2.4rem;
    }

    #hero .hero__btn {
        font-size: 1.6rem;
    }

    #wrapper .wrapper-right .list {
        flex-direction: column;
        align-items: center;
    }

    #wrapper .wrapper-right .list .card {
        width: 100%;
        margin-bottom: 20px;

    }

    #wrapper .wrapper-right .list .card__img {
        height: 240px;
    }

    #wrapper .wrapper-right .list .card__title {
        font-size: 1.6rem;
    }

    #wrapper .wrapper-right .list .card__subtitle {
        font-size: 1.6rem;
    }

    #detail .detail {
        flex-direction: column;
    }
    #detail .detail__img {
        width: 90%;
        margin: 0 auto 20px;
    }
    #detail .detail__body {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #detail .detail__name {
        font-size: 3rem;
    }

    #detail .detail__desc {
        width: 90%;
    }

}

@media screen and (max-width: 800px) {
    .sidebar-overlay .sidebar__item {
        padding: 14px 0;
    }
    .sidebar-overlay .sidebar__link {
        font-size: 2.4rem;
    }
    #header .header .brand {
        transform: translate(-50%, -50%);
    }

    #header .header .hamburger {
        display: block;
    }

    #hero .hero__text h1 {
        font-size: 4.8rem;
    }

    #hero .hero__btn {
        font-size: 1.4rem;
    }

    #header .header .navbar {
        display: none;
    }

    #featured .featured .list .card {
        width: 100%;
        margin-bottom: 20px;
    }
    #featured .featured .list .card__img {
        height: 240px;
    }

    #wrapper .wrapper {
        flex-direction: column;
    }

    #wrapper .wrapper-left, #wrapper .wrapper-right {
        width: 100%;
    }

    #wrapper .wrapper-left .category {
        padding-left: 0;
    }

    
    #wrapper .wrapper-left .category .search-bar input {
        padding: 12px 20px;
        font-size: 1.6rem;
        width: 100%;
    }
    #wrapper .wrapper-left .category .filter h5 {
        font-size: 1.8rem;
    }

    #wrapper .wrapper-left .category .filter .company-list {
        display: flex;
        padding-top: 12px;
        margin-left: -6px;
        margin-right: -6px;
    }

    #wrapper .wrapper-left .category .filter .company-name {
        flex: 1;
        font-size: 1.4rem;
        text-align: center;
        background-color: var(--light-clr);
        border-radius: 5px;
        margin: 6px;
        padding: 10px;
    }

    #wrapper .wrapper-left .category .filter-bar h5 {
        font-size: 1.8rem;
    }

    #wrapper .wrapper-left .category .filter-bar__value {
        font-size: 1.6rem;
    }
    #wrapper .wrapper-left .category .filter-bar input {
        width: 100%;
    }

    #wrapper .wrapper-right .list {
        padding-left: 0;
        padding-right: 0;
    }

    #main .main__text {
        transform: translateX(0);
    }
}

